/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 2px;
    padding: 0;
    background-color: #f5f7fa;
    color: #333;
}

body {
    font-family: 'Figtree', sans-serif;
    margin: 2px;
     background-color: #f5f7fa;
    color: #333;
}


