/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1,
h2, {
    font-family: 'Figtree', sans-serif;
    color: #333;
}

#hero {
  background-color: lightgrey;
  background-image: url("../image/hero-image.png");
  background-size: cover;
  min-height: 500px;
  background-position: 50%, 70%;
  padding: 5%, 7%;
}